{% extends 'home/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebPhone</title>
</head>
<body>
    {% block body%}
        <h1>Recent Posts</h1>
        <div class="postList col-md-8 mx-auto" style="margin: 5px">
            {% for post in posts%}
                <div class="post container-sm" style="border: 1px solid black; display: inline-block; border-radius: 3px">
                    <div class="author">
                        <a href="{%  url 'user:profile' post.author %}"><h5>{{post.author}}</h5></a> <!--This is going to be a link to a user profile page-->
                    </div>
                    <div class="body">
                        {{post.body}}
                    </div>
                    <div class="createdAt">
                        {{post.created_at}}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>